body {
  /*background-image: image("img/mario.jpg")*/;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainpage{
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
}

.post{
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.aboutus {
  display: inline-block;
  float: left;
  width: 200px;
  height: 800px;
  margin: 15px;
  position: fixed;
  border: 3px solid black;
  background-color: aliceblue;
}

.title {
  text-align: center;
  font-weight: bolder;
}
